$euiZLevel0: 0;
$euiZLevel1: 1000;
$euiZLevel2: 2000;
$euiZLevel3: 3000;
$euiZLevel4: 4000;
$euiZLevel5: 5000;
$euiZLevel6: 6000;
$euiZLevel7: 7000;
$euiZLevel8: 8000;
$euiZLevel9: 9000;

$euiZToastList: $euiZLevel9;
$euiZModal: $euiZLevel8;
$euiZMask: $euiZLevel6;
$euiZNavigation: $euiZLevel6;
$euiZContentMenu: $euiZLevel2;
$euiZHeader: $euiZLevel1;
$euiZFlyout: $euiZHeader;
$euiZMaskBelowHeader: $euiZHeader;
$euiZContent: $euiZLevel0;